**/BionicRent.Application/obj/
**/BionicRent.Api/obj/
**/BionicRent.Persistence/obj/
**/BionicRent.Infrastructure/obj/
**/BionicRent.Commons/obj/
**/BionicRent.Domain/obj/
**/BionicRent.Application.Test/obj/
**/BionicRent.Api.Test/obj/
**/BionicRent.Persistence.Test/obj/
**/BionicRent.Infrastructure.Test/obj/
**/BionicRent.Commons.Test/obj/
**/BionicRent.Domain.Test/obj/
**/BionicRent.Migration/obj/
**/BionicRent.Application/bin/
**/BionicRent.Api/bin/
**/BionicRent.Persistence/bin/
**/BionicRent.Infrastructure/bin/
**/BionicRent.Commons/bin/
**/BionicRent.Domain/bin/
**/BionicRent.Application.Test/bin/
**/BionicRent.Api.Test/bin/
**/BionicRent.Persistence.Test/bin/
**/BionicRent.Infrastructure.Test/bin/
**/BionicRent.Commons.Test/bin/
**/BionicRent.Domain.Test/bin/
**/BackendSecurity.Domain/bin/
**/BackendSecurity.Domain/obj/
**/BackendSecurity.Persistence/bin/
**/BackendSecurity.Persistence/obj/
**/BackendSecurity.Persistence.Test/obj/
**/BackendSecurity.Persistence.Test/bin/
**/BackendSecurity.Domain.Test/obj/
**/BackendSecurity.Domain.Test/bin/
.vscode/

